{{define "yield"}}
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Create Gallery</h3>
                </div>
                <div class="panel-body">
                    {{template "galleryForm"}}
                </div>
            </div>
        </div>
    </div>
{{end}}

{{define "galleryForm"}}
    <form action="/galleries/new" method="post">
        <div class="form-group">
            <label for="gallery">Gallery name</label>
            <input type="text" name="gallery" class="form-control" id="gallery" placeholder="Gallery">
        </div>
        <button type="submit" class="btn btn-primary">Create gallery</button>
    </form>
{{end}}