<h1>FAQ</h1><br>
<ul>
    <li>Q: Na jaké palivo lítá větroň?</li>
    <li>A: Kerosin to nebude...</li>
    <br>
    <li>Q: Kolik válců má čtvřválcový motor?</li>
    <li>A: Bílý.</li>
    <br>
    <li>Q: Má Sierra Sanders pěknou píču?</li>
    <li>A: Je papež katolík?</li>
</ul>