{{template "header" .}}
<h1>FAQ</h1><br>

<ul>
    {{range .}}
    {{template "qa" .}}
    {{end}}
</ul>
{{template "footer" .}}

{{define "qa"}}
    <li>Q: <b>{{.Question}}</b> A: {{.Answer}}<i> ({{.QType}} otázka)</i></li>
{{end}}