<h1>FAQ</h1><br>

<ul>
    {{range .}}
    {{template "qa" .}}
    {{end}}
</ul>

{{define "qa"}}
<li>Q: <b>{{.Question}}</b> A: <i>{{.Answer}}</i> ({{.QType}} otázka)</li>
{{end}}
{{/*<pre>{{.}}</pre>*/}}