{{template "header" .}}
<div class="px-6 bg-blue-500">
    <h1 class="py-4 text-4xl semibold tracking-tight hover:text-yellow-200">
        Cybersec overloaded!
    </h1>
</div>
{{template "footer" .}}